body {
    background-color: darkslategray; 
    font-family: Arial, sans-serif;
    padding: 20px;
    box-shadow: 0 0 10px white;
    border-radius: 5px;
}
h2, h3{
    text-decoration: underline;
    font-family: fantasy;
    font-size: 30px;
}

div{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bigger{
	font-size: 30px;
	font-family: fantasy;
	text-decoration: underline;
}
input[type="text"]{
    width: 200px;
    margin: 5px;
    
}
label{
    display: inline-block;
    margin-bottom: 5px;
    text-align: right;
    width: 125px;
}
.center {
    text-align: center;
}
.content {
    background-color: whitesmoke;
    padding: 20px;
    margin: 7px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
.innerContent {
    background-color: whitesmoke;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    margin: 7px;
    padding: 10px;
}
.notes {
    height: 60px;
    width: 200px;
    border-radius: 5px;
}
.button {
    display: inline-block;
    padding: 10px 10px;
    background-color: gainsboro;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 175px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button:hover {
background-color: lightcoral;
}
.sm_button {
    display: inline-block;
    padding: 5px 5px;
    background-color: gainsboro;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sm_button:hover {
background-color: lightcoral;
}
.image-container {
    position: relative;
    display: inline-block;
  }
  
.image-container img {
    display: block;
    width: 100%;
    height: auto;
  }
  
.overlay-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: darkred; 
    color: lightgrey; 
    padding: 10px 20px; 
    font-size: 40px; 
    text-align: center;
    font-family: fantasy;
  }