<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edit Appointment</title>
<link rel="stylesheet" href="/stylesheet.css">
<style>
.hidden {
	display: none;
}
</style>
<script>
	function validateForm() {
		var date = document.forms["appointmentForm"]["date"].value;
        var description = document.forms["appointmentForm"]["description"].value;

        if (date === "") {
            alert("Please select an appointment date.");
            return false;
        }

        if (description === "") {
            alert("Please enter a description.");
            return false;
        }

        return true;
	}
</script>
</head>
<body>
	<div class="content">
		<h2 class="center">Edit Appointment</h2>
		<form th:object="${newAppointment}"
			th:action="@{/updateAppointment/{id}(id=${newAppointment.id})}"
			method="post" name="appointmentForm" onsubmit="return validateForm()">
			<div class="innerContent">
				<div class="hidden">
						<input type="text" name="customer.id" th:field="*{customer.id}">
						<input type="text" name="customer.fName" th:field="*{customer.fName}">
						<input type="text" name="customer.lName" th:field="*{customer.lName}">
						<input type="text" name="customer.phoneNum" th:field="*{customer.phoneNum}">
						<input type="text" name="customer.email" th:field="*{customer.email}">
						<input type="text" name="customer.creditCardNum" th:field="*{customer.creditCardNum}">
				</div>
				<div class="center">
					<label for="date">Appointment Date: </label> <input type="date"
						id="date" name="date" th:field="*{date}">
				</div>
				<div class="center">
					<label for="description">Description: </label>
					<textarea class="notes" id="description" name="description"
						th:field="*{description}"></textarea>
				</div>
				<div class="center">
					<button type="submit">Update Appointment</button>
				</div>
			</div>
		</form>
		<div class="center">
			<a href="/index.html" class="button">Back To Home</a> <a
				href="/viewAllAppointments" class="button">View All Appointments</a><br>
		</div>
	</div>
</body>
</html>