<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View All Books</title>
<link rel="stylesheet" href="/stylesheet.css">
<style>
label {
	display: inline-block;
	white-space: nowrap;
	text-align: center;
}
</style>

</head>
<body class="center">
	<div class="content">
		<h2>List of Customers</h2>
		<div class="innerContent" th:object="${customer}">
			<h3>Customer Information</h3>
			<div
				th:text="${customer.fName} + ' ' + ${customer.lName} + ', Email: ' + ${customer.email} + ', Phone: ' + ${customer.phoneNum} + ', CC: ' + ${customer.creditCardNum}"></div>
			<h3>Vehicle Information</h3>
			<div th:each="vehicle : ${customerVehicles}"
				th:text="${vehicle.make} + ' ' + ${vehicle.model} + ' ' + ${vehicle.year} + ' ' + ${vehicle.color}"></div>
			<h3>Appointments</h3>
			<div th:each="appointment : ${customerAppointments}"
				th:text="${appointment.description} + ' ' + ${appointment.date}"></div>
		</div>
		<div class="center">
			<a th:href="@{/editCustomer/{id}(id=${customer.id})}" class="button">Edit</a>
			<a th:href="@{/deleteCustomer/{id}(id=${customer.id})}"
				class="button">Delete</a> <a href="/index.html" class="button">Back
				To Home</a> <a href="inputCustomer" class="button">Add New Customer</a><br>
		</div>
	</div>
</body>
</html>