<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View All Books</title>
<link rel="stylesheet" href="/stylesheet.css">
<style>
	label {
    	display: inline-block;
    	white-space: nowrap;
    	text-align: center;
  }
</style>
	
</head>
<body class="center">
    <div class="content">
	<h2>List of Customers</h2>
	<div class="innerContent">
	<form>
		<table>
			<tr th:each="currentCustomer, iterStat : ${customer}">
				
				<td>
					<input type="radio" name="selectedCustomer" id="customer${iterStat.index}">
					<label for="customer${iterStat.index}" th:text="${currentCustomer.fName} + ' ' + ${currentCustomer.lName} + ',
					 Email: ' + ${currentCustomer.email} + ', Phone: ' + ${currentCustomer.phoneNum} + ', CC: ' + ${currentCustomer.creditCardNum}"></label>
                </td>
			</tr>
		</table>
		<input type="submit" value="Edit">
		<input type="submit" value="Delete">
	</form>
	</div>
	<div class="center">
		<a href="/index.html" class="button">Back To Home</a>
		<a href="inputCustomer" class="button">Add New Customer</a><br>
	</div>
    </div>
</body>
</html>